include COPYING*

include zetuprc

include VERSION
include requirements.txt
include requirements.setup.txt

include cfo/jinja/macros/cfo

recursive-include src *.cpp *.hpp *.inl *.py
include test.cpp

include SConstruct

include tox.ini
